import json
import os
import os as operating_system
import re as regex
import string.punctuation
import sys
import urllib
from collections import OrderedDict, defaultdict
from datetime import time
from math import pi, sqrt
from random import randint
from random import random as seed

import bs4
import numpy
import pandas
import requests
import yaml

from .fake_module import non_existing_function
